html {
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  background-color: #ddd;
}

.nearby {
  background-color: #efefef;
}

.card {
  background-color: #fff;
}

.table-wrapper {
  overflow: visible;
}
