html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

.nearby {
  background-color: #efefef;
}

li {
  background-color: #fff;
}

table {
  min-width: 50em;
}

img {
  width: 200px;
}

.park {
  width: 86px;
}
